parameters:
    level: 5
    paths:
        - app
        - public
    excludePaths:
        - vendor
        - database/migrations
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - message: '#Offset .ip. on non-empty-array on left side of \?\? always exists#'
          path: app/Core/Auth.php
          count: 1
